PORT=1337
DEBUG=false
SQL_DSN=root:root123456@tcp(localhost:3306)/ai_gateway
REDIS_CONN_STRING=redis://:@127.0.0.1:6379/0?dial_timeout=3&read_timeout=6s&max_retries=2
SYNC_FREQUENCY=600
DEBUG_SQL=true
# 平滑退出等待时间，单位s
GRACEFUL_WAIT=5

# 启用批量更新
# BATCH_UPDATE_ENABLED=true
# 批量更新间隔
# BATCH_UPDATE_INTERVAL=10
